*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --drop-btn-blue: #0061ff;
    --drop-bg-section: #b4d0e7;
}

/* #region utilities */

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.container{
    width: 80%;
    margin: auto;
}

.row{
    flex-wrap: wrap;
    display: flex;
}

.col-4{
    width: calc((100% / 12) *4);
    padding: 0.5rem;
}

.col-8{
    width: calc((100% / 12) *8);
}

.col-12{
    width: 100%;
}

.btn-blue{
    background-color: var(--drop-btn-blue);
    color: white;
    padding: 5px 10px;
    border: 0;
}

.btn-blue:hover button{
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;  
}

img{
    max-width: 100%;
}

/* #endregion utilities */

/* #region header */

header{
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}

.left-menu, .right-menu{
    align-items: center;
}

.left-menu .link-left{
    padding-left: 1.5rem;
}

.right-menu .link-right{
    padding-right: 1.5rem;
}

.left-menu a{
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    position: relative;
}

.right-menu a{
    padding-right: 1rem;
    text-decoration: none;
    color: black;
    position: relative;
}

div a::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: black;
    transition: all .3s;
}

div a:hover::before{
    width: 100%;
}

/* #endregion header */

/* #region main */

.jumbotron{
    background-color: var(--drop-bg-section);
    height: 1000px;
}

h1{
    text-align: center;
    padding: 2rem 0;
}

.text{
    padding: 2rem 0;
}
/* #endregion main */